In [1]:
import numpy as np
import pandas as pd
import sklearn
import pickle

In [2]:
ds = pd.read_csv("insurance.csv")

In [3]:
X=ds.iloc[:,0:6]
Y=ds.iloc[:,-1]
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       0
1   18    1  33.770         1       0       1
2   28    1  33.000         3       0       1
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [4]:
X=X.to_numpy()
max=np.amax(X,axis=0)
X=np.divide(X,max)
X=pd.DataFrame(X)
X.head()

          0    1         2    3    4         5
0  0.296875  0.0  0.525127  0.0  1.0  0.000000
1  0.281250  1.0  0.635611  0.2  0.0  0.333333
2  0.437500  1.0  0.621118  0.6  0.0  0.333333
3  0.515625  1.0  0.427348  0.0  0.0  0.666667
4  0.500000  1.0  0.543572  0.0  0.0  0.666667

In [5]:
from sklearn import model_selection,linear_model
x_train,x_test,y_train,y_test=model_selection.train_test_split(X,Y, test_size=0.2)
model=sklearn.linear_model.LinearRegression()

In [6]:
model=model.fit(x_train,y_train)

In [12]:
# test=np.array([[0.515625,0,0.50244,0,0,0.66666],
# [0.5312,1,0.807,0.2,0,0]])
# y_pred=model.predict(test)
# print(y_pred)
y_pred=model.predict(x_test)
((100 - np.mean((np.abs(y_pred - y_test))/y_test)*100))

52.64059458157509