In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Retrive dataset
ds = pd.read_csv("insurance.csv")

In [3]:
# Seperate the features and result
X=ds.iloc[:,0:6]
Y=ds.iloc[:,-1]
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       0
1   18    1  33.770         1       0       1
2   28    1  33.000         3       0       1
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [4]:
# Feature scaling
X=X.to_numpy()
max=np.amax(X,axis=0)
X=np.divide(X,max)
X=pd.DataFrame(X)
X.head()

          0    1         2    3    4         5
0  0.296875  0.0  0.525127  0.0  1.0  0.000000
1  0.281250  1.0  0.635611  0.2  0.0  0.333333
2  0.437500  1.0  0.621118  0.6  0.0  0.333333
3  0.515625  1.0  0.427348  0.0  0.0  0.666667
4  0.500000  1.0  0.543572  0.0  0.0  0.666667

In [5]:
# Spliting test and training set
x_train, x_test, y_train, y_test = train_test_split (X, Y, test_size=0.5,random_state=42)
x_train=x_train.to_numpy().T                                 #(6,669)
x_test=x_test.to_numpy().T                                   #(6,669)
y_train=np.reshape(y_train.to_numpy(),(1,x_train.shape[1]))  #(1,669)
y_test=np.reshape(y_test.to_numpy(),(1,x_test.shape[1]))     #(1,669)

In [6]:
# Initializing parameters and necessary variables
m=x_train.shape[1]                   # nos of example (669)
features = x_train.shape[0]          # nos of features or input (6)
w=np.random.rand(features,1)    #  parameter (6,1)
b=0

In [7]:
# Hyperparametr
epoch = 300000  # nos of iteration
aplha = 0.001   # learning rate

In [8]:
# training
for i in range(epoch):
    # forward propagation
    A=np.dot(w.T,x_train)+b
    # cost 
    J=np.sum((y_train-A)**2)/m
    # back propagation
    dw= np.dot(x_train,(2*(y_train-A)).T)/(-m)
    db=2*np.sum(y_train-A)/(-m)
    # update parameter
    w=w-(aplha*dw)
    b=b-(aplha*db)

In [10]:
A=np.dot(w.T,x_train)+b
print("train accuracy: {} %".format(100 - np.mean((np.abs(A - y_train))/y_train)*100))

train accuracy: 57.22630530734487 %

In [9]:
# Testing

A=np.dot(w.T,x_test)+b
print("test accuracy: {} %".format(100 - np.mean((np.abs(A - y_test))/y_test)*100))

test accuracy: 55.09156935581465 %